h1
  span(
    ng-click="foldCycle(doc)",
    ng-class="'glyphicon glyphicon-' + ['plus', 'asterisk', 'minus'][doc.FoldStatus]")
  | {{ doc.Title }}
.orgcontent
  span.orgstatus.btn.btn-primary.btn-xs(ng-show="doc.Status")
    a(href="#/doc/{{docName}}/focus?status={{doc.Status}}") {{ doc.Status }}
  span.btn.btn-danger.btn-xs(ng-show="doc.CloseDate") Closed on {{ doc.CloseDate }}
  span.btn.btn-default.btn-xs(ng-repeat="tag in doc.Tags")
    a(href="#/doc/{{docName}}/focus?tag={{tag}}") {{ tag }}
  table.orgprops.table(ng-show="doc.Properties")
    tr
      th Property
      th Value
    tr(ng-repeat="prop in doc.Properties")
      td {{ prop[0] }}
      td {{ prop[1] }}
  .orgtext
    .nodeblock(ng-repeat="block in doc.Text", ng-include="'/static/views/nodetext.html'")
  ul(ng-hide="doc.FoldStatus === 0")
    li.orgchildren(ng-repeat="doc in doc.Children", ng-include="'/static/views/orgdoclayer.html'")